#image {
	display: block;
	max-width: 100%;
	
	align-items: center;
	width: 500px;
	height: 500px;
	margin-top: 20px;
	
}

#main{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #434242;
}

#img-caption{
	margin-top: 5px;
	font-family: monospace;
	color:black;
	text-align: center;
	font-size: 20px;
}
#title {
	color: white;
	font-family: monospace ;
	font-size: 50px;
}

#img-div {
	background-color: #22A39F;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

ul li {
	margin-top: 20px;
	font-family: Arial, Helvetica, sans-serif;
color: #F3EFE0;
}

#tribute-info {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;

}
#the-section-title{
	font-size: 50px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color:white}